{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    {% if blog_post.image %}
        <header class="masthead" style="background-image: url('{{ blog.image.url }}')">
    {% else %}
        <header class="masthead" style="background: #007bff; background: linear-gradient(to bottom, #0062E6, #33AEFF);">
    {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ blog_post.title }}</h1>
                        <span class="meta">{{ blog_post.pub_date_pretty }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main_content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" style="word-wrap: break-word;">
                    {{ blog_post.body|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}