{% extends 'base.html' %}
{% load static %}

{% block title %} {{ project.title }} | Portfolio | {{ about.name }} {% endblock %}

{% block header %}
    <header class="masthead" style="background: #007bff; background: linear-gradient(to bottom, #0062E6, #33AEFF);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ project.title }}</h1>
                        <span class="meta">{{ project.date_pretty }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main_content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" style="word-wrap: break-word;">
                    <img src="{{ project.image.url }}" alt="" class="img-fluid rounded mx-auto">

                    <hr>
                    <br>

                    {{ project.detail|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}