{% extends 'base.html' %}
{% load staticfiles %}

{% block main_content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Hi, I'm Ahmed!</h1>
                <p class="lead">Hello There here is my portfolio</p>
                <hr class="my-4">
                <a href="#" class="btn btn-primary btn-lg">Email Me!</a>
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

                    {% for job in jobs.all %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="{{ job.image.url }}" alt="">
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ job.summary }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}
